In [2]:
lista = [1,2,3,4,5,[1, 2, 3]]

In [3]:
lista

[1, 2, 3, 4, 5, [1, 2, 3]]

In [5]:
type(lista)

list

In [7]:
lista[2]

3

In [9]:
dic = {'valor1': 1, 'valor2': 2}

In [11]:
dic

{'valor1': 1, 'valor2': 2}

In [14]:
type(dic)

dict

In [16]:
dic['valor1']

1

In [18]:
dic = {'lista': [1, 2, 3], 'str': 'Ola'}

In [20]:
dic

{'lista': [1, 2, 3], 'str': 'Ola'}

In [22]:
dic['lista'][1]

2

In [24]:
tupla = (1, 3, 4, 5, 6)

In [26]:
type(tupla)

tuple

In [28]:
lista[2] = 3

In [30]:
lista

[1, 2, 3, 4, 5, [1, 2, 3]]

In [32]:
seq = list(range(0, 100))

In [34]:
seq

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [37]:
for s in seq:
    print(s, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

Funções, Lambda, Map, Filter e Metodos

In [40]:
[item**2 for item in seq]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [48]:
def minha_func(param):
    x = param ** 2
    return x

In [44]:
minha_func

In [47]:
minha_func('Ola')

Ola

In [50]:
x = 2

In [52]:
y =  minha_func(x)

In [54]:
y

4

In [56]:
def quadrado(var):
    return var ** 2

In [58]:
quadrado(2)

4

In [60]:
def quadrado(var): return var ** 2

In [63]:
quadrado(2)

4

In [65]:
lambda var: var ** 2

In [67]:
seq = [1, 2, 4, 5, 6, 7, 3]

In [69]:
map(quadrado, seq)

In [71]:
list(map(quadrado, seq))

[1, 4, 16, 25, 36, 49, 9]

In [72]:
list(map(lambda x:x**2, seq))

[1, 4, 16, 25, 36, 49, 9]

In [74]:
list(filter(lambda item:item % 2 == 0, seq))

[2, 4, 6]

In [75]:
list(filter(lambda item:item % 3 == 0, seq))

[6, 3]

In [76]:
str = 'Olá meu nome e rodrigo'

In [78]:
str.lower()

'olá meu nome e rodrigo'

In [79]:
str.upper()

'OLÁ MEU NOME E RODRIGO'

In [81]:
str.split()

['Olá', 'meu', 'nome', 'e', 'rodrigo']

In [82]:
str.split('o')

['Olá meu n', 'me e r', 'drig', '']

In [83]:
len(str.split())

5

In [85]:
str.split('o')

['Olá meu n', 'me e r', 'drig', '']

In [86]:
len(str.split('o'))

4

In [87]:
lista = [1, 2, 3]

In [88]:
lista.append(34)

In [89]:
lista

[1, 2, 3, 34]

In [91]:
lista.pop()

3

In [92]:
lista

[1, 2]

In [93]:
fist = lista.pop(0)

In [95]:
fist

1

In [97]:
'x' in 'Xupeta'

False

In [98]:
'x' in 'xerex'

True