In [1]:
import pandas as pd
import numpy as np

In [3]:
# Niveis de indece
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
inside

[1, 2, 3, 1, 2, 3]

In [8]:
hier_index = list(zip(outside, inside))

In [10]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [17]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [18]:
df

             A         B
G1 1 -0.807402  1.069529
   2 -0.248435 -1.463048
   3  0.550628 -0.215296
G2 1  1.726174 -0.385551
   2 -0.862594 -1.005948
   3 -0.245923 -0.453832

In [20]:
df.loc['G1'].loc[1]

A   -0.807402
B    1.069529
Name: 1, dtype: float64

In [21]:
df.index.names

FrozenList([None, None])

In [22]:
df.index.names = ['Grupo', 'Numero']

In [23]:
df

                     A         B
Grupo Numero
G1    1      -0.807402  1.069529
      2      -0.248435 -1.463048
      3       0.550628 -0.215296
G2    1       1.726174 -0.385551
      2      -0.862594 -1.005948
      3      -0.245923 -0.453832

In [24]:
df.xs('G1')

               A         B
Numero
1      -0.807402  1.069529
2      -0.248435 -1.463048
3       0.550628 -0.215296

In [26]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.807402  1.069529
G2     1.726174 -0.385551