In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [9]:
df = pd.DataFrame(np.random.randn(5, 4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [10]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [11]:
df['W']

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [13]:
type(df['W'])

pandas.core.series.Series

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df[['W', 'Z']]

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
C -1.005187 -0.732845
D -1.382920 -2.141212
E  0.992573  1.292765

In [18]:
df.W

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [19]:
df.Z

A    0.230336
B    1.939932
C   -0.732845
D   -2.141212
E    1.292765
Name: Z, dtype: float64

In [20]:
df['New']

KeyError: 'New'

In [36]:
df['NEW'] = df['W'] + df['Z']

In [37]:
df

          W         X         Y         Z       NEW
A  0.386030  2.084019 -0.376519  0.230336  0.616367
B  0.681209  1.035125 -0.031160  1.939932  2.621142
C -1.005187 -0.741790  0.187125 -0.732845 -1.738032
D -1.382920  1.482495  0.961458 -2.141212 -3.524132
E  0.992573  1.192241 -1.046780  1.292765  2.285338

In [32]:
df.drop('NEW', axis=1)

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [38]:
df.drop('NEW', axis=1, inplace=True)

In [39]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [56]:
df.loc['A', 'W']

0.3860303121135517

In [57]:
df.iloc[0, 0]

0.3860303121135517

In [55]:
df.iloc[3, 2]

0.9614581560918355

In [42]:
df.loc['D', 'Y']

0.9614581560918355

In [43]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']]

          X         Y         Z
A  2.084019 -0.376519  0.230336
B  1.035125 -0.031160  1.939932

In [45]:
df.iloc[1:4, 2:]

          Y         Z
B -0.031160  1.939932
C  0.187125 -0.732845
D  0.961458 -2.141212

In [48]:
df.iloc[:2, :3]

          W         X         Y
A  0.386030  2.084019 -0.376519
B  0.681209  1.035125 -0.031160

In [50]:
df.iloc[0, 0]

0.3860303121135517

In [53]:
df.iloc[3, 2]

0.9614581560918355