In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [16]:
dates = pd.date_range(2013010, periods=6)

In [17]:
dates

DatetimeIndex(['1970-01-01 00:00:00.002013010',
               '1970-01-02 00:00:00.002013010',
               '1970-01-03 00:00:00.002013010',
               '1970-01-04 00:00:00.002013010',
               '1970-01-05 00:00:00.002013010',
               '1970-01-06 00:00:00.002013010'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [23]:
df

                                      A         B         C         D
1970-01-01 00:00:00.002013010 -1.982482 -2.978034 -0.411647 -0.094877
1970-01-02 00:00:00.002013010  0.467085  0.784783  0.338259  0.585738
1970-01-03 00:00:00.002013010  0.060257  0.299370  0.538157 -0.815002
1970-01-04 00:00:00.002013010 -0.178031 -0.842260 -1.875565 -0.071722
1970-01-05 00:00:00.002013010 -1.220202  0.074153 -0.760660  1.972341
1970-01-06 00:00:00.002013010 -1.032685 -0.161429  2.487085  0.069793

In [29]:
df2 = pd.DataFrame(
{
    'A': 1.0,
    "B": pd.Timestamp("20130102"),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(['teste', 'train', 'test', 'train']),
    'F': 'Foo'
})

NameError: name 'dtype' is not defined